<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Masters</a>
        </li>
        <li class="breadcrumb-item active">Monitoring Order</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Monitoring Order</h4>
              <!--
                <button class="btn btn-primary" (click)="create()">
                  <i class="bx bx-xs bx-plus me-1"></i>
                  Create
                </button>
              -->
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="row form-group my-2">
              <div class="col-12 row mb-2">
                <div class="col-2">
                  <input type="text" name="param_invoice" [(ngModel)]="modelParam.invoice_number"
                    class="form-control form-control" placeholder="Cari Invoice ... ">
                </div>
                <div class="col-2">
                  <select class="form-select" id="status_order" placeholder="Status"
                    [(ngModel)]="modelParam.status_order" name="status_order">
                    <option value="">- Semua Status -</option>
                    <option value="ordered">Belum Bayar</option>
                    <option value="processed">Konfirmasi</option>
                    <option value="sent">Kirim</option>
                    <option value="received">Selesai</option>
                  </select>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-rounded" (click)="reloadDataTable()">
                  <i class="bx bx-search"></i>Cari
                </button>
                <button class="btn btn-outline-primary btn-rounded ms-2" (click)="reset()">
                  <i class="bx bx-refresh"></i>Reset
                </button>
                <button class="btn btn-primary me-1 ms-2" *ngIf="multipleResi" (click)="printMulti(modalResiMultiple)">
                  <i class='bx bx-printer me-1'></i>
                  Print Multi Resi
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table" data-page-length="10">
                <thead>
                  <tr>
                    <th class="text-center" width="20"></th>
                    <th class="text-center" width="100">Status</th>
                    <th class="text-center" width="100">Tanggal</th>
                    <th class="text-center" width="100">Invoice</th>
                    <th class="text-center" width="100">Customer</th>
                    <th class="text-center" width="100">Pengiriman</th>
                    <th class="text-center" width="100">Total</th>
                    <th class="text-center" width="80">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td>
                      <input type="checkbox" [(ngModel)]="item.cekResi" name="cekresi" (change)="pushResi($event, item)"
                        *ngIf="item.awb_shipping">
                    </td>
                    <td>
                      <span class="badge" [ngClass]="{
													'bg-label-warning': item.status_order == 'ordered',
													'bg-label-primary': item.status_order == 'processed',
													'bg-label-info': item.status_order == 'sent',
													'bg-label-success': item.status_order == 'received',
													'bg-label-danger': item.status_order == 'canceled'
												}">
                        {{ item.status_order_convert }}
                      </span>
                    </td>
                    <td> {{ item.date }} </td>
                    <td> {{ item.invoice_number }} </td>
                    <td>
                      <p>{{ item.name }}</p>
                      <span>{{ item.email }}</span> (<span> {{ item.phone_code }} {{ item.phone_number }} </span>)
                    </td>
                    <td class="text-center">
                      {{ item.shipping_sender }}<br>
                      <p *ngIf="item.awb_shipping">
                        <span>{{ item.awb_shipping }}</span>
                      </p>
                      <button class="btn btn-primary me-1" *ngIf="item.awb_shipping"
                        (click)="cetakResi(modalResi, item)">
                        <i class='bx bx-printer me-1'></i>
                        Print Resi
                      </button>
                      <span *ngIf="item.awb_shipping == null">-</span>
                    </td>
                    <td class="text-right"> Rp {{ item.grand_total | number }} </td>

                    <td class="text-center">
                      <a class="dropdown-item" href="javascript:void(0);" *ngIf="item.status_order === 'ordered'"
                        (click)="edit(item, 'processed')">
                        <i class='bx bx-check me-1'></i>
                        Setujui
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);" *ngIf="item.status_order === 'processed'"
                        (click)="kirim(item)">
                        <i class='bx bxs-package me-1'></i>
                        Kirim
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);" *ngIf="item.status_order === 'sent'"
                        (click)="edit(item, 'received')">
                        <i class='bx bx-check-shield me-1'></i>
                        Selesai
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);" *ngIf="item.status_order === 'received'"
                        (click)="view(item)">
                        <i class='bx bx-eye me-1'></i>
                        Lihat
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Detail Order {{ model.invoice_number }}</h4>
            </div>
          </div>
          <div class="col-12">
            <form>
              <!-- [disabled]="isView || isLoading" -->
              <fieldset [disabled]="true">
                <div class="row">
                  <div class="col-6">
                    <div class="divider">
                      <div class="divider-text">Detail Customer</div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="invoice_number">Invoice Number</label>
                      <input type="text" class="form-control" id="invoice_number" [(ngModel)]="model.invoice_number"
                        name="invoice_number" placeholder="enter the invoice number...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="name">Nama</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name"
                        placeholder="enter the customer name...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="status_order">Status</label>
                      <input type="text" class="form-control" id="status_order" [(ngModel)]="model.status_order_convert"
                        name="status_order" placeholder="enter the status_order...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="date">Tanggal</label>
                      <input type="text" class="form-control" id="date" [(ngModel)]="model.date" name="date"
                        placeholder="enter the date...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="keterangan">Catatan</label>
                      <textarea id="note" class="form-control" rows="3" [(ngModel)]="model.note" name="note"
                        placeholder="enter the note..."></textarea>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="divider">
                      <div class="divider-text">Penerima</div>
                    </div>
                    <div class="row">
                      <div class="col-6 mb-3">
                        <label class="form-label" for="recipient">Nama</label>
                        <input type="text" class="form-control" id="recipient" [(ngModel)]="model.recipient"
                          name="recipient" placeholder="enter the recipient...">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="phone_number">No Hp</label>
                        <div class="input-group">
                          <span class="input-group-text" id="phone_number">{{ model.phone_code }}</span>
                          <input type="text" class="form-control" id="phone_number" [(ngModel)]="model.phone_number"
                            name="phone_number" placeholder="enter the phone number...">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="village_name">Desa</label>
                        <input type="text" class="form-control" id="village_name" [(ngModel)]="model.village_name"
                          name="village_name" placeholder="enter the village name...">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="subdistrict_name">Kecematan</label>
                        <input type="text" class="form-control" id="subdistrict_name"
                          [(ngModel)]="model.subdistrict_name" name="subdistrict_name"
                          placeholder="enter the subdistrict name...">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="city_name">Kota</label>
                        <input type="text" class="form-control" id="city_name" [(ngModel)]="model.city_name"
                          name="city_name" placeholder="enter the village name...">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="province_name">Provinsi</label>
                        <input type="text" class="form-control" id="province_name" [(ngModel)]="model.province_name"
                          name="province_name" placeholder="enter the subdistrict name...">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="postal_code">Kode Pos</label>
                        <input type="text" class="form-control" id="postal_code" [(ngModel)]="model.postal_code"
                          name="postal_code" placeholder="enter the postal code...">
                      </div>
                      <div class="col-12 mb-3">
                        <label class="form-label" for="address">Alamat</label>
                        <textarea type="text" class="form-control" id="address" [(ngModel)]="model.address"
                          name="address" placeholder="enter the address..." rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="divider">
                      <div class="divider-text">Detail Produk</div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">SKU</th>
                          <th class="text-center">Nama Produk</th>
                          <th class="text-center">Harga</th>
                          <th class="text-center">Qty</th>
                          <th class="text-center">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listDetail">
                          <td>{{ item.sku }}</td>
                          <td>{{ item.nama }}</td>
                          <td class="text-end">{{ item.price | number }}</td>
                          <td class="text-center">{{ item.qty }}</td>
                          <td class="text-end">Rp {{ item.subtotal | number }}</td>
                        </tr>
                        <tr>
                          <td class="text-end pe-3" colspan="4">Total Pengiriman</td>
                          <td class="text-end">Rp {{ model.total_pengiriman | number }}</td>
                        </tr>
                        <tr *ngIf="model.voucher_id">
                          <td class="text-end pe-3" colspan="4">Total Voucher</td>
                          <td class="text-end">Rp {{ model.total_voucher | number }}</td>
                        </tr>
                        <tr>
                          <td class="text-end pe-3" style="font-weight: bold;" colspan="4">Total</td>
                          <td class="text-end" style="font-weight: bold;">Rp {{ model.grand_total | number }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Back
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>


<ng-template #modalResi let-modal>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h3 class="modal-title text-primary mt-0">Cetak Resi </h3>
    <button type="button" class="btn-close close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid" id="printResi">
      <table id="tableprint" class="tableprint" width="100%" border="1">
        <thead>
          <tr>
            <th colspan="2">
              <div
                style="display: flex; justify-content: space-between !important; align-items: center !important;padding: 0.5rem;">
                <img alt="250x250" src="assets/img/logo.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="50" />
                <img alt="250x250" src="assets/img/shipping/jnt.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" width="100"
                  *ngIf="modelResi.shipping_sender_code === 'jt' || modelResi.shipping_sender_code === 'jnt'" />
                <img alt="250x250" src="assets/img/shipping/id_express.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'idx'" />
                <img alt="250x250" src="assets/img/shipping/indah_cargo.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="modelResi.shipping_sender_code === 'indah_cargo'" />
                <img alt="250x250" src="assets/img/shipping/jne.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'jne'" />
                <img alt="250x250" src="assets/img/shipping/lion.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'lion'" />
                <img alt="250x250" src="assets/img/shipping/paxel.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'paxel'" />
                <img alt="250x250" src="assets/img/shipping/sapx.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60"
                  *ngIf="modelResi.shipping_sender_code === 'sapx' || modelResi.shipping_sender_code === 'sap'" />
                <img alt="250x250" src="assets/img/shipping/sentralcargo.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="modelResi.shipping_sender_code === 'sentral_cargo' || modelResi.shipping_sender_code === 'sentral'" />
                <img alt="250x250" src="assets/img/shipping/sicepat.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'sicepat'" />
                <img alt="250x250" src="assets/img/shipping/jtcargo.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'jtcargo'" />
                <img alt="250x250" src="assets/img/shipping/ncs.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'ncs'" />
                <img alt="250x250" src="assets/img/shipping/anteraja.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="modelResi.shipping_sender_code === 'anteraja'" />
                <img alt="250x250" src="assets/img/shipping/ninja.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'ninja'" />
                <img alt="250x250" src="assets/img/shipping/tiki.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'tiki'" />
                <img alt="250x250" src="assets/img/shipping/gojek.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'gojek'" />
                <img alt="250x250" src="assets/img/shipping/grab.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'grab'" />
                <img alt="250x250" src="assets/img/shipping/lalamove.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="modelResi.shipping_sender_code === 'lalamove'" />
                <img alt="250x250" src="assets/img/shipping/deliveree.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="modelResi.shipping_sender_code === 'deliveree'" />
                <img alt="250x250" src="assets/img/shipping/borzo.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'borzo'" />
                <img alt="250x250" src="assets/img/shipping/paxel.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'paxel'" />
                <img alt="250x250" src="assets/img/shipping/pos.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="modelResi.shipping_sender_code === 'pos'" />
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <div style="text-align: center !important; padding: 0.5rem; position: relative;">
                <img alt="250x250" [src]="modelResi.url_awb" data-holder-rendered="true" width="100%" height="80px"
                  style="text-align: center;" />
                <div class="container"
                  style=" width:100%; text-align: center; background: white;margin-top: -20px;position: absolute; padding: 0; margin-left: -8px;">
                  <span style="font-size: 16px; font-weight: bold;" *ngIf="modelResi.shipping_type !== 'BiteShip'">
                    {{modelResi.awb_shipping}}
                  </span>
                  <span style="font-size: 16px; font-weight: bold;" *ngIf="modelResi.shipping_type === 'BiteShip'">
                    {{modelResi.receipt_number}}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; padding: 0.5rem; font-size: 16px;font-weight: bold;">
              Non COD
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; padding: 0.5rem; font-size: 16px;font-weight: bold;">
              Jenis Layanan : {{ modelResi.shipping_group}}
            </td>
          </tr>
          <tr>
            <td rowspan="3" width="50%"
              style="position: relative; text-align: center; padding: 0.5rem; padding-bottom: 0 !important;">
              <img alt="250x250" [src]="modelResi.url_order" data-holder-rendered="true"
                style="text-align: center; width: 80%;" />
            </td>
            <td width="50%" style="padding: 0.5rem !important;">Asuransi : Rp. {{ asuransiPaket | number }}</td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important;">Berat : {{ beratPaketResi | number }} gram</td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important;">QTY : {{ qtyPaketResi }}</td>
          </tr>
          <tr>
            <td colspan="2" style="padding: 0.5rem !important; font-size: 14px;font-weight: bold;">Isi Paket
              : <br>
              <div style="font-weight: normal;" [innerHtml]="isiPaketResi"></div>
            </td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important; font-size: 14px;font-weight: bold;">Penerima : <br>
              {{modelResi.recipient}}
            </td>
            <td style="padding: 0.5rem !important; font-size: 14px;font-weight: bold;">Pengirim : <br>
              Jakarta Camera
            </td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important; vertical-align: text-top; font-size: 14px;font-weight: bold;">
              {{modelResi.phone_code}}{{modelResi.phone_number}} | {{ modelResi.address }} <br>
              {{modelResi.village_name}}, {{modelResi.subdistrict_name}},
              {{modelResi.city_name}}, {{modelResi.province_name}}, {{modelResi.postal_code}}
            </td>
            <td style="padding: 0.5rem !important; vertical-align: text-top; font-size: 14px;font-weight: bold;">
              {{nohp}} | {{ alamat }}
            </td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important;" colspan="2">
              Catatan : {{ modelResi.order_note }}
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding: 0.5rem !important; font-size: 10px">
              <i>*Pengirim wajib meminta bukti serah terima paket ke kurir.</i><br>
              <i>*Jika paket ini retur, pengirim tetap dikenakan biaya keberangkatan dan biaya retur
                sesuai ekspedisi.</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm btn-rounded" (click)="printResi('printResi')">
      <i class="fa fa-print mr-2"></i>
      Cetak
    </button>
  </div>
</ng-template>

<ng-template #modalResiMultiple let-modal>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h3 class="modal-title text-primary mt-0">Cetak Resi </h3>
    <button type="button" class="btn-close close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid" id="printResi">
      <table id="tableprint" class="tableprint my-2" width="100%" border="1" *ngFor="let item of dataMultiResi">
        <thead>
          <tr>
            <th colspan="2">
              <div
                style="display: flex; justify-content: space-between !important; align-items: center !important;padding: 0.5rem;">
                <img alt="250x250" src="assets/img/logo.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="50" />
                <img alt="250x250" src="assets/img/shipping/jnt.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" width="100"
                  *ngIf="item.shipping_sender_code === 'jt' || item.shipping_sender_code === 'jnt'" />
                <img alt="250x250" src="assets/img/shipping/id_express.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'idx'" />
                <img alt="250x250" src="assets/img/shipping/indah_cargo.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="item.shipping_sender_code === 'indah_cargo'" />
                <img alt="250x250" src="assets/img/shipping/jne.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'jne'" />
                <img alt="250x250" src="assets/img/shipping/lion.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'lion'" />
                <img alt="250x250" src="assets/img/shipping/paxel.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'paxel'" />
                <img alt="250x250" src="assets/img/shipping/sapx.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60"
                  *ngIf="item.shipping_sender_code === 'sapx' || item.shipping_sender_code === 'sap'" />
                <img alt="250x250" src="assets/img/shipping/sentralcargo.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="item.shipping_sender_code === 'sentral_cargo' || item.shipping_sender_code === 'sentral'" />
                <img alt="250x250" src="assets/img/shipping/sicepat.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'sicepat'" />
                <img alt="250x250" src="assets/img/shipping/jtcargo.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'jtcargo'" />
                <img alt="250x250" src="assets/img/shipping/ncs.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'ncs'" />
                <img alt="250x250" src="assets/img/shipping/anteraja.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="item.shipping_sender_code === 'anteraja'" />
                <img alt="250x250" src="assets/img/shipping/ninja.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'ninja'" />
                <img alt="250x250" src="assets/img/shipping/tiki.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'tiki'" />
                <img alt="250x250" src="assets/img/shipping/gojek.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'gojek'" />
                <img alt="250x250" src="assets/img/shipping/grab.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'grab'" />
                <img alt="250x250" src="assets/img/shipping/lalamove.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="item.shipping_sender_code === 'lalamove'" />
                <img alt="250x250" src="assets/img/shipping/deliveree.png" data-holder-rendered="true"
                  class="text-center" class="logo-img" height="60"
                  *ngIf="item.shipping_sender_code === 'deliveree'" />
                <img alt="250x250" src="assets/img/shipping/borzo.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'borzo'" />
                <img alt="250x250" src="assets/img/shipping/paxel.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'paxel'" />
                <img alt="250x250" src="assets/img/shipping/pos.png" data-holder-rendered="true" class="text-center"
                  class="logo-img" height="60" *ngIf="item.shipping_sender_code === 'pos'" />
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <div style="text-align: center !important; padding: 0.5rem; position: relative;">
                <img alt="250x250" [src]="item.url_awb" data-holder-rendered="true" width="100%" height="80px"
                  style="text-align: center;" />
                <div class="container"
                  style=" width:100%; text-align: center; background: white;margin-top: -20px;position: absolute; padding: 0; margin-left: -8px;">
                  <span style="font-size: 16px; font-weight: bold;" *ngIf="item.shipping_type !== 'BiteShip'">
                    {{item.awb_shipping}}
                  </span>
                  <span style="font-size: 16px; font-weight: bold;" *ngIf="item.shipping_type === 'BiteShip'">
                    {{item.receipt_number}}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; padding: 0.5rem; font-size: 16px;font-weight: bold;">
              Non COD
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; padding: 0.5rem; font-size: 16px;font-weight: bold;">
              Jenis Layanan : {{ item.shipping_group}}
            </td>
          </tr>
          <tr>
            <td rowspan="3" width="50%"
              style="position: relative; text-align: center; padding: 0.5rem; padding-bottom: 0 !important;">
              <img alt="250x250" [src]="item.url_order" data-holder-rendered="true"
                style="text-align: center; width: 80%;" />
            </td>
            <td width="50%" style="padding: 0.5rem !important;">Asuransi : Rp. {{ item.asuransiPaket | number }}</td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important;">Berat : {{ item.beratPaketResi | number }} gram</td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important;">QTY : {{ item.qtyPaketResi }}</td>
          </tr>
          <tr>
            <td colspan="2" style="padding: 0.5rem !important; font-size: 14px;font-weight: bold;">Isi Paket
              : <br>
              <div style="font-weight: normal;" [innerHtml]="item.isiPaketResi"></div>
            </td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important; font-size: 14px;font-weight: bold;">Penerima : <br>
              {{item.recipient}}
            </td>
            <td style="padding: 0.5rem !important; font-size: 14px;font-weight: bold;">Pengirim : <br>
              Jakarta Camera
            </td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important; vertical-align: text-top; font-size: 14px;font-weight: bold;">
              {{item.phone_code}}{{item.phone_number}} | {{ item.address }} <br>
              {{item.village_name}}, {{item.subdistrict_name}},
              {{item.city_name}}, {{item.province_name}}, {{item.postal_code}}
            </td>
            <td style="padding: 0.5rem !important; vertical-align: text-top; font-size: 14px;font-weight: bold;">
              {{nohp}} | {{ alamat }}
            </td>
          </tr>
          <tr>
            <td style="padding: 0.5rem !important;" colspan="2">
              Catatan : {{ item.order_note }}
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding: 0.5rem !important; font-size: 10px">
              <i>*Pengirim wajib meminta bukti serah terima paket ke kurir.</i><br>
              <i>*Jika paket ini retur, pengirim tetap dikenakan biaya keberangkatan dan biaya retur
                sesuai ekspedisi.</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm btn-rounded" (click)="printResi('printResi')">
      <i class="fa fa-print mr-2"></i>
      Cetak
    </button>
  </div>
</ng-template>
