<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" *ngIf="!showForm">
            <div class="col-12 text-end mb-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="ms-3 mb-0">Shipping Address</h4>
                    <button class="btn btn-primary" (click)="create()">
                        <i class="bx bx-xs bx-plus me-1"></i>
                        Create
                    </button>
                </div>
            </div>
            <div class="col-12">
                <div class=" text-nowrap">
                    <table datatable [dtOptions]="dtOptions" class="table" data-page-length="5">
                        <thead>
                            <tr>
                                <th>Recipient</th>
                                <th width="180">Phone Number</th>
                                <th width="200">Address</th>
                                <th width="80">Status</th>
                                <th width="80"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listData" (dblclick)="view(item)">
                                <td>{{ item.recipient }}</td>
                                <td> {{ item.phone_code }} {{ item.phone_number }} </td>
                                <td class="text-uppercase"> 
                                    {{ item.address }}, <br> {{ item.village_name }}, {{ item.subdistrict_name }}, {{ item.city_name }}, {{ item.province_name }}, {{ item.postal_code }} 
                                </td>
                                <td>
                                    <span class="badge bg-label-success me-1" *ngIf="item.active == 1"> main </span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                                                <i class="bx bx-edit-alt me-1"></i>
                                                Edit
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);">
                                                <i class="bx bx-trash me-1"></i>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="content" *ngIf="showForm">
            <div class="row">
                <div class="col-12 text-end mb-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="ms-3 mb-0">Form Shipping Address</h4>
                    </div>
                </div>
                <div class="col-12">
                    <form>
                        <fieldset [disabled]="isView || isLoading">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex align-items-start align-items-sm-center gap-4 mb-3">
                                        <img *ngIf="!base64Image" [src]="model.photo" alt="user-avatar" class="d-block rounded" height="150" width="150" id="uploadedAvatar" style="object-fit: cover;">
                                        <img *ngIf="!!base64Image" [src]="base64Image" alt="user-avatar" class="d-block rounded" height="150" width="150" id="uploadedAvatar" style="object-fit: cover;">
                                        <div class="button-wrapper">
                                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                                <span class="d-none d-sm-block">Upload Image</span>
                                                <i class="bx bx-upload d-block d-sm-none"></i>
                                                <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                                            </label>
                                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4"
                                                (click)="base64Image=''">
                                                <i class="bx bx-reset d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Reset</span>
                                            </button>
    
                                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="name">Name</label>
                                        <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name" placeholder="enter the name...">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Username</label>
                                        <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username" placeholder="enter the username...">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="phone_number">Phone number</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="phone_number"> {{ model.phone_code }} </span>
                                            <input type="text" class="form-control" id="phone_number" [(ngModel)]="model.phone_number" name="phone_number" placeholder="enter the phone_number...">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="address">Address</label>
                                        <textarea id="address" class="form-control" rows="3" [(ngModel)]="model.address" name="address" placeholder="enter the description..."></textarea>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="divider">
                                        <div class="divider-text">Account</div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="text" class="form-control" id="email" [(ngModel)]="model.email" name="email" placeholder="enter the email...">                    
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="password">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="password" [(ngModel)]="model.password" name="password" placeholder="enter the password...">      
                                            <span class="input-group-text" id="password">
                                                <i class='bx' [ngClass]="hidePassword ? 'bx-lock-alt' : 'bx-lock-open-alt'" (click)="hidePassword = !hidePassword"></i>
                                            </span>
                                        </div>
                                        <div class="form-text">If you don't want to change the password, please leave the password field blank</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    <button class="btn btn-light me-1" (click)="index()">
                        <i class="bx bx-chevron-left me-1"></i>
                        Back
                    </button>
                    <button class="btn btn-primary" (click)="save()">
                        <i class="bx bx-save me-1"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>