<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Master</a>
        </li>
        <li class="breadcrumb-item active">Kategori Edukasi</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-header">
        <div class="row form-group my-2">
          <div class="col-2">
            <input type="text" name="param_kategori" [(ngModel)]="modelParam.kategori"
              class="form-control form-control-sm" placeholder="Cari kategori ... " (input)="reloadDataTable()">
          </div>
          <div class="col-2">
            <button class="btn btn-sm btn-outline-primary btn-rounded" (click)="reset()">
              <i class="fas fa-undo"></i>Reset</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Kategori Edukasi</h4>
              <button class="btn btn-primary" (click)="create()">
                <i class="bx bx-xs bx-plus me-1"></i>
                Tambah
              </button>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table" data-page-length="10">
                <thead>
                  <tr>
                    <th>Kategori</th>
                    <th width="80">Aksi</th>
                  </tr>
                </thead>
                <tbody *ngIf="listData.length <= 0">
                  <td colspan="2">Tidak Ada Data</td>
                </tbody>
                <tbody *ngIf="listData.length > 0">
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td> {{ item.kategori }} </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                            <i class="bx bx-edit-alt me-1"></i>
                            Ubah
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);">
                            <i class="bx bx-trash me-1"></i>
                            Hapus
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Form Kategori Edukasi</h4>
            </div>
          </div>
          <div class="col-8">
            <form>
              <fieldset [disabled]="isView || isLoading">
                <div class="mb-3">
                  <label class="form-label" for="kategori">Kategori</label>
                  <input type="text" class="form-control" id="kategori" [(ngModel)]="model.kategori" name="kategori"
                    placeholder="Kategori ...">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Kembali
        </button>
        <button class="btn btn-primary" (click)="save()" *ngIf="!isView">
          <i class="bx bx-save me-1"></i>
          Simpan
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>
