<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Stok</a>
        </li>
        <li class="breadcrumb-item active">Kategori</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Stok Kategori</h4>
              <button class="btn btn-primary" (click)="create()">
                <i class="bx bx-xs bx-plus me-1"></i>
                Create
              </button>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table" data-page-length="10">
                <thead>
                  <tr>
                    <th>Kategori</th>
                    <th>Tipe</th>
                    <th>Keterangan</th>
                    <th width="50">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td> {{ item.nama }} </td>
                    <td>
                      <span class="badge bg-label-success me-1" *ngIf="item.type === 'i'">Masuk</span>
                      <span class="badge bg-label-warning me-1" *ngIf="item.type === 'o'">Keluar</span>
                      <span class="badge bg-label-primary me-1" *ngIf="item.type === 'a'">Opname</span>
                    </td>
                    <td> {{ item.deskripsi }} </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                            <i class="bx bx-edit-alt me-1"></i>
                            Edit
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);" (click)="delete(item.id)">
                            <i class="bx bx-trash me-1"></i>
                            Delete
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Form Stok Kategori</h4>
            </div>
          </div>
          <div class="col-8">
            <form>
              <fieldset [disabled]="isView || isLoading">
                <div class="mb-3">
                  <label class="form-label" for="nama">Kategori</label>
                  <input type="text" class="form-control" id="nama" [(ngModel)]="model.nama" name="nama"
                    placeholder="enter the category name...">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="type">Tipe</label>
                  <div>
                    <button class="btn btn-sm py-2 px-3 me-1"
                      [ngClass]="model.type == 'i' ? 'btn-primary' : 'btn-outline-primary'"
                      (click)="model.type = 'i'">
                      <i class="bx bx-check me-1" *ngIf="model.type == 'i'"></i>
                      Masuk
                    </button>
                    <button class="btn btn-sm py-2 px-3 me-1"
                      [ngClass]="model.type == 'o' ? 'btn-primary' : 'btn-outline-primary'"
                      (click)="model.type = 'o'">
                      <i class="bx bx-check me-1" *ngIf="model.type == 'o'"></i>
                      Keluar
                    </button>
                    <button class="btn btn-sm py-2 px-3"
                      [ngClass]="model.type == 'a' ? 'btn-primary' : 'btn-outline-primary'"
                      (click)="model.type = 'a'">
                      <i class="bx bx-check me-1" *ngIf="model.type == 'a'"></i>
                      Opname
                    </button>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="deskripsi">Deskripsi</label>
                  <textarea id="deskripsi" class="form-control" rows="3" [(ngModel)]="model.deskripsi" name="deskripsi"
                    placeholder="enter the description..."></textarea>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Back
        </button>
        <button class="btn btn-primary" (click)="save()">
          <i class="bx bx-save me-1"></i>
          Save
        </button>
      </div>
    </div>
  </div>
  <div class="content-backdrop fade"></div>
</div>
