<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Master</a>
        </li>
        <li class="breadcrumb-item active">Voucher</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Voucher</h4>
              <button class="btn btn-primary" (click)="create()">
                <i class="bx bx-xs bx-plus me-1"></i>
                Tambah
              </button>
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="row form-group my-2">
              <div class="col-12 row mb-2">
                <div class="col-2">
                  <input type="text" name="param_kode" [(ngModel)]="modelParam.kode" class="form-control form-control"
                    placeholder="Cari Kode/Nama Voucher ... ">
                </div>
                <div class="col-2">
                  <select class="form-select" id="is_status" placeholder="Status" [(ngModel)]="modelParam.is_status"
                    name="is_status">
                    <option value="1">Aktif</option>
                    <option value="0">Tidak Aktif</option>
                  </select>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-rounded" (click)="reloadDataTable()">
                  <i class="bx bx-search"></i>Cari
                </button>
                <button class="btn btn-outline-primary btn-rounded ms-2" (click)="reset()">
                  <i class="bx bx-refresh"></i>Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table" data-page-length="5">
                <thead>
                  <tr>
                    <th width="10%">Gambar</th>
                    <th>Voucher</th>
                    <th width="10%">Tanggal Mulai</th>
                    <th width="10%">Tanggal Selesai</th>
                    <th width="15%">S&K</th>
                    <th width="5%">Sisa</th>
                    <th width="5%">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td> <img [src]="item.gambar" alt="" style="width: 150px"> </td>
                    <td>
                      <span>{{ item.voucher }}</span><br>
                      <span class="badge bg-label-success me-1" *ngIf="item.kategori == 'T'">Transaksi</span>
                      <span class="badge bg-label-primary me-1" *ngIf="item.kategori == 'O'">Ongkir</span>
                    </td>
                    <td> {{ item.tanggal_mulai | date: 'dd/MM/yyyy' }} {{ item.jam_mulai }} </td>
                    <td> {{ item.tanggal_selesai | date: 'dd/MM/yyyy' }} {{ item.jam_selesai }} </td>
                    <td>
                      <span>Max. Voucher : {{ item.voucher_max | number }}</span><br>
                      <span>Min. Pembelian : {{ item.voucher_min_beli | number }}</span><br>
                      <span>Untuk : {{ item.untuk }}</span>
                    </td>
                    <td>
                      <span class="badge bg-label-secondary me-1">{{ item.qty }}</span>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                            <i class="bx bx-edit-alt me-1"></i>
                            Ubah
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);">
                            <i class="bx bx-trash me-1"></i>
                            Hapus
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Form Voucher</h4>
            </div>
          </div>
          <div class="col-12">
            <form>
              <fieldset [disabled]="isView || isLoading">
                <div class="row">
                  <div class="col-6">
                    <div class="d-flex align-items-start align-items-sm-center gap-4 mb-3">
                      <img *ngIf="!base64Image" [src]="model.gambar" alt="user-avatar" class="d-block rounded"
                        height="150" width="320" id="uploadedAvatar" style="object-fit: cover;">
                      <img *ngIf="!!base64Image" [src]="base64Image" alt="user-avatar" class="d-block rounded"
                        height="150" width="320" id="uploadedAvatar" style="object-fit: cover;">
                      <div class="button-wrapper">
                        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                          <span class="d-none d-sm-block">Upload Image</span>
                          <i class="bx bx-upload d-block d-sm-none"></i>
                          <input type="file" id="upload" class="account-file-input" hidden=""
                            accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                        </label>

                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="voucher">Nama</label>
                      <input type="text" class="form-control" id="voucher" [(ngModel)]="model.voucher" name="voucher"
                        placeholder="Nama Voucher ...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="redeem_code">Redeem Kode</label>
                      <input type="text" class="form-control" id="redeem_code" [(ngModel)]="model.redeem_code"
                        name="redeem_code" placeholder="Redeem Kode ...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="tanggal_mulai">Tanggal Mulai</label>
                      <div class="row">
                        <div class="col-8">
                          <input class="form-control" type="date" id="tanggal_mulai" [(ngModel)]="model.tanggal_mulai"
                            name="tanggal_mulai" placeholder="Tanggal Mulai ...">
                        </div>
                        <div class="col-4">
                          <input class="form-control" type="time" id="jam_mulai" [(ngModel)]="model.jam_mulai"
                            name="jam_mulai" placeholder="Waktu Mulai...">
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="tanggal_selesai">Tanggal Selesai</label>
                      <div class="row">
                        <div class="col-8">
                          <input class="form-control" type="date" id="tanggal_selesai"
                            [(ngModel)]="model.tanggal_selesai" name="tanggal_selesai"
                            placeholder="Tanggal Selesai ...">
                        </div>
                        <div class="col-4">
                          <input class="form-control" type="time" id="jam_selesai" [(ngModel)]="model.jam_selesai"
                            name="jam_selesai" placeholder="Waktu Selesai...">
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="keterangan">Deskripsi</label>
                      <textarea id="keterangan" class="form-control" rows="3" [(ngModel)]="model.deskripsi"
                        name="keterangan" placeholder="Deskripsi..."></textarea>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-6">
                        <div class="mb-3">
                          <label class="form-label" for="voucher">Kategori</label>
                          <div>
                            <button class="btn btn-sm py-2 px-3 me-1"
                              [ngClass]="model.kategori == 'T' ? 'btn-primary' : 'btn-outline-primary'"
                              (click)="model.kategori='T'">
                              <i class="bx bx-check me-1" *ngIf="model.kategori == 'T'"></i>
                              Transaksi
                            </button>
                            <button class="btn btn-sm py-2 px-3"
                              [ngClass]="model.kategori == 'O' ? 'btn-primary' : 'btn-outline-primary'"
                              (click)="model.kategori='O'">
                              <i class="bx bx-check me-1" *ngIf="model.kategori == 'O'"></i>
                              Ongkir
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-3">
                          <label class="form-label" for="voucher">Tipe</label>
                          <div>
                            <button class="btn btn-sm py-2 px-3 me-1"
                              [ngClass]="model.type == 'P' ? 'btn-primary' : 'btn-outline-primary'"
                              (click)="model.type='P';model.voucher_value=0">
                              <i class="bx bx-check me-1" *ngIf="model.type == 'P'"></i>
                              Persen
                            </button>
                            <button class="btn btn-sm py-2 px-3"
                              [ngClass]="model.type == 'N' ? 'btn-primary' : 'btn-outline-primary'"
                              (click)="model.type='N';model.voucher_value=0">
                              <i class="bx bx-check me-1" *ngIf="model.type == 'N'"></i>
                              Nominal
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-6">
                          <label class="form-label" for="voucher_value">{{ model.type == 'P' ? 'Persen' : 'Nominal'
                            }}</label>
                          <div class="input-group">
                            <span class="input-group-text" id="voucher_value" *ngIf="model.type == 'N'">Rp</span>
                            <input type="text" class="form-control" id="voucher_value" [(ngModel)]="model.voucher_value"
                              name="voucher_value" mask="separator.3" thousandSeparator=".">
                            <span class="input-group-text" id="voucher_value" *ngIf="model.type == 'P'">%</span>
                          </div>
                        </div>
                        <div class="col-6">
                          <label class="form-label" for="qty">QTY</label>
                          <div class="input-group">
                            <input type="text" class="form-control text-end" id="qty" [(ngModel)]="model.qty" name="qty"
                              placeholder="QTY Voucher...">
                            <span class="input-group-text" id="qty">Unit</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-6">
                          <label class="form-label" for="voucher_max">Maksimal Voucher</label>
                          <div class="input-group">
                            <span class="input-group-text" id="voucher_max">Rp</span>
                            <input type="text" class="form-control text-end" id="voucher_max"
                              [(ngModel)]="model.voucher_max" name="voucher_max"
                              placeholder="Maksimal Nominal Voucher..." mask="separator.3" thousandSeparator=".">
                          </div>
                        </div>
                        <div class="col-6">
                          <label class="form-label" for="voucher_min_beli">Minimum Pembelian</label>
                          <div class="input-group">
                            <span class="input-group-text" id="voucher_min_beli">Rp</span>
                            <input type="text" class="form-control text-end" id="voucher_min_beli"
                              [(ngModel)]="model.voucher_min_beli" name="voucher_min_beli"
                              placeholder="Minimum Pembelian Voucher..." mask="separator.3" thousandSeparator=".">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="voucher">Digunakan Untuk</label>
                      <div>
                        <button class="btn btn-sm py-2 px-3 me-1"
                          [ngClass]="model.untuk == 'umum' ? 'btn-primary' : 'btn-outline-primary'"
                          (click)="model.untuk ='umum'; model.user_id == null">
                          <i class="bx bx-check me-1" *ngIf="model.untuk == 'umum'"></i>
                          Umum
                        </button>
                        <button class="btn btn-sm py-2 px-3"
                          [ngClass]="model.untuk == 'user' ? 'btn-primary' : 'btn-outline-primary'"
                          (click)="model.untuk='user';">
                          <i class="bx bx-check me-1" *ngIf="model.untuk == 'user'"></i>
                          Customer
                        </button>
                      </div>
                    </div>
                    <div class="mb-3" *ngIf="model.untuk == 'user'">
                      <label class="form-label" for="customer">Customer</label>
                      <ng-select [items]="listUser" bindLabel="name" bindValue="id" placeholder="customer ..."
                        [(ngModel)]="model.user_id" name="customer" [disabled]="isView">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Kembali
        </button>
        <button class="btn btn-primary" (click)="save()">
          <i class="bx bx-save me-1"></i>
          Simpan
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>
