<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Masters</a>
        </li>
        <li class="breadcrumb-item active">Promo</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Promo</h4>
              <button class="btn btn-primary" (click)="create()">
                <i class="bx bx-xs bx-plus me-1"></i>
                Create
              </button>
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="row form-group my-2">
              <div class="col-12 row mb-2">
                <div class="col-2">
                  <input type="text" name="param_kode" [(ngModel)]="modelParam.kode" class="form-control form-control"
                    placeholder="Cari Kode/Nama Promo ... ">
                </div>
                <div class="col-2">
                  <select class="form-select" id="is_status" placeholder="Status"
                    [(ngModel)]="modelParam.is_status" name="is_status">
                    <option value="1">Aktif</option>
                    <option value="0">Tidak Aktif</option>
                  </select>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-rounded" (click)="reloadDataTable()">
                  <i class="bx bx-search"></i>Cari
                </button>
                <button class="btn btn-outline-primary btn-rounded ms-2" (click)="reset()">
                  <i class="bx bx-refresh"></i>Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table">
                <thead>
                  <tr>
                    <th width="10%">Status</th>
                    <th width="10%">Flashsale</th>
                    <th width="10%">Kode</th>
                    <th>Nama</th>
                    <th width="20%">Tanggal Mulai</th>
                    <th width="20%">Tanggal Selesai</th>
                    <th width="5%">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td>
                      <span class="badge bg-label-success me-1" *ngIf="item.is_status === 1">Aktif</span>
                      <span class="badge bg-label-danger me-1" *ngIf="item.is_status === 0">Tidak Aktif</span>
                    </td>
                    <td>
                      <span class="badge bg-label-success me-1" *ngIf="item.is_flashsale === 1">Ya</span>
                      <span class="badge bg-label-danger me-1" *ngIf="item.is_flashsale === 0">Tidak</span>
                    </td>
                    <td> {{ item.kode }} </td>
                    <td> {{ item.promo }} </td>
                    <td> {{ item.tanggal_mulai }} {{ item.jam_mulai }} </td>
                    <td> {{ item.tanggal_selesai }} {{ item.jam_selesai }} </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                            <i class="bx bx-edit-alt me-1"></i>
                            Edit
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);" *ngIf="item.is_status === 0">
                            <i class="bx bx-trash me-1"></i>
                            Delete
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <form class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Form Promo</h4>
            </div>
          </div>
          <div class="col-12 row">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label" for="kode">Kode</label>
                <input type="text" class="form-control" id="kode" [(ngModel)]="model.kode" name="kode"
                  placeholder="kode..." [disabled]="isEdit || isView">
              </div>
              <div class="mb-3">
                <label class="form-label" for="promo">Promo</label>
                <input type="text" class="form-control" id="promo" [(ngModel)]="model.promo" name="promo"
                  placeholder="promo..." [disabled]="isEdit || isView">
              </div>
              <div class="mb-3">
                <label class="form-label" for="tanggal_mulai">Tanggal Mulai</label>
                <div class="row">
                  <div class="col-8">
                    <input class="form-control" type="date" id="tanggal_mulai" [(ngModel)]="model.tanggal_mulai"
                      name="tanggal_mulai" placeholder="enter the Tanggal Mulai...">
                  </div>
                  <div class="col-4">
                    <input class="form-control" type="time" id="jam_mulai" [(ngModel)]="model.jam_mulai"
                      name="jam_mulai" placeholder="enter the time...">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="tanggal_selesai">Tanggal Selesai</label>
                <div class="row">
                  <div class="col-8">
                    <input class="form-control" type="date" id="tanggal_selesai" [(ngModel)]="model.tanggal_selesai"
                      name="tanggal_selesai" placeholder="enter the Tanggal Selesai...">
                  </div>
                  <div class="col-4">
                    <input class="form-control" type="time" id="jam_selesai" [(ngModel)]="model.jam_selesai"
                      name="jam_selesai" placeholder="enter the time...">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="col-6 mb-3">
                <label class="form-label" for="promo_min_beli">Min. Pembelian</label>
                <div class="input-group input-group-merge">
                  <input type="number" class="form-control" id="promo_min_beli" placeholder="0"
                    [(ngModel)]="model.promo_min_beli" name="promo_min_beli" placeholder="1" [disabled]="isEdit || isView">
                  <span class="input-group-text" id="promo_min_beli">unit</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="flashsale">Flashsale</label>
                <div>
                  <button class="btn btn-sm py-2 px-3 me-1"
                    [ngClass]="model.is_flashsale == 0 ? 'btn-primary' : 'btn-outline-primary'"
                    (click)="model.is_flashsale = 0">
                    <i class="bx bx-check me-1" *ngIf="model.is_flashsale == 0"></i>
                    No
                  </button>
                  <button class="btn btn-sm py-2 px-3"
                    [ngClass]="model.is_flashsale == 1 ? 'btn-primary' : 'btn-outline-primary'"
                    (click)="model.is_flashsale = 1">
                    <i class="bx bx-check me-1" *ngIf="model.is_flashsale == 1"></i>
                    Yes
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="divider">
              <div class="divider-text">Produk</div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="align-middle" width="5%">
                    <button class="btn btn-sm btn-success" (click)="addProduk()" [disabled]="isEdit || isView">
                      <i class="bx bx-plus"></i>
                    </button>
                  </th>
                  <th class="align-middle">Produk</th>
                  <th class="align-middle" width="15%">Harga</th>
                  <th class="align-middle" width="10%">Jumlah</th>
                  <th class="align-middle" width="10%">Sisa</th>
                  <th class="align-middle" width="10%">Diskon</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="selectedProduk.length > 0">
                  <tr *ngFor="let item of selectedProduk; index as i">
                    <td>
                      <button class="btn btn-sm btn-danger" (click)="removeProduk(i)" [disabled]="isEdit || isView">
                        <i class="bx bx-trash"></i>
                      </button>
                    </td>
                    <td>
                      <ng-select [items]="listProduk" [(ngModel)]="item.m_produk_id" bindLabel="nama" bindValue="id"
                        name="itemproduk_{{i}}" (change)="changeProduk($event, i)" [disabled]="isEdit || isView">
                        <ng-template ng-label-tmp let-item="item">
                          <!-- <img height="15" width="15" [src]="item.avatar"/> -->
                          {{item.nama}}
                        </ng-template>
                      </ng-select>
                    </td>
                    <td>
                      <div class="input-group input-group-merge">
                        <span class="input-group-text text-end" id="harga_{{i}}">Rp</span>
                        <input type='text' class="form-control text-end" mask="separator.3" thousandSeparator="."
                          [(ngModel)]="item.harga" name="harga_{{i}}" disabled>
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-merge">
                        <input type="text" class="form-control text-end" mask="000" thousandSeparator="."
                          [(ngModel)]="item.qty" name="qty_{{i}}" [disabled]="isEdit || isView">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-merge">
                        <input type="text" class="form-control text-end" [(ngModel)]="item.promo_used"
                          name="promo_used_{{i}}" disabled>
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-merge">
                        <input type="text" class="form-control text-end" mask="00" [(ngModel)]="item.persen"
                          name="persen_{{i}}" style="padding-right: 10px;" [disabled]="isEdit || isView">
                        <span class="input-group-text" id="persen">%</span>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="selectedProduk.length == 0">
                  <tr>
                    <td colspan="6" class="text-center">There are no produk yet</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Back
        </button>
        <button class="btn btn-primary" (click)="save()" *ngIf="!isView">
          <i class="bx bx-save me-1"></i>
          Save
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>
