<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Masters</a>
        </li>
        <li class="breadcrumb-item active">Product</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Product</h4>
              <button class="btn btn-primary" (click)="create()">
                <i class="bx bx-xs bx-plus me-1"></i>
                Create
              </button>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table">
                <thead>
                  <tr>
                    <th width="100">Sku</th>
                    <th>Nama</th>
                    <th class="text-center" width="150">Kategori</th>
                    <th class="text-end" width="300">Harga</th>
                    <th class="text-center" width="100">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td> {{ item.sku }} </td>
                    <td> {{ item.nama }} </td>
                    <td class="text-center"> {{ item.kategori }} </td>
                    <td class="text-end"> Rp.{{ item.harga }} </td>
                    <td>
                      <div class="dropdown text-center">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                            <i class="bx bx-edit-alt me-1"></i>
                            Edit
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);">
                            <i class="bx bx-trash me-1"></i>
                            Delete
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Form Product</h4>
            </div>
          </div>
          <div class="col-12">
            <fieldset [disabled]="isView">
              <form>
                <div class="row">
                  <!-- Image -->
                  <div class="col-12">
                    <div class="mb-3">
                      <img src="assets/img/elements/18.jpg" alt="user-avatar" class="d-block rounded" height="100"
                        width="100" id="uploadedAvatar" *ngIf="listPhoto.length==0">
                      <div class="d-flex gap-3" *ngIf="listPhoto.length > 0">
                        <ng-container *ngFor="let item of listPhoto; index as i">
                          <div class="position-relative">
                            <button
                              class="badge badge-center rounded-pill bg-danger border-0 position-absolute top-0 end-0"
                              (click)="removePhoto(i)">
                              <i class="bx bx-trash"></i>
                            </button>
                            <img [src]="item.foto.base64" alt="user-avatar" class="d-block rounded" height="100"
                              width="100" id="uploadedAvatar" *ngIf="item.foto.base64">
                            <img [src]="item.foto" alt="user-avatar" class="d-block rounded" height="100" width="100"
                              id="uploadedAvatar" *ngIf="!item.foto.base64">
                          </div>
                        </ng-container>
                      </div>
                      <!--
                        <ul class="example-list"><li *ngFor="let item of items">{{ item }}</li></ul>
                        <div class="example-container" cdkDropListGroup>
                          <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
                          <div cdkDropList *ngFor="let item of items"
                               [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
                            <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);">{{item}}</div>
                          </div>
                        </div>
                      -->
                      <div class="button-wrapper mt-3">
                        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                          <span class="d-none d-sm-block">Upload Image</span>
                          <i class="bx bx-upload d-block d-sm-none"></i>
                          <input type="file" id="upload" class="account-file-input" hidden=""
                            accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                        </label>
                        <!-- <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
													<i class="bx bx-reset d-block d-sm-none"></i>
													<span class="d-none d-sm-block">Reset</span>
												</button> -->

                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="divider">
                      <div class="divider-text">Detail Produk</div>
                    </div>
                  </div>
                  <!-- Detail Product -->
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="form-label" for="sku">SKU</label>
                      <input type="text" class="form-control" id="sku" [(ngModel)]="model.sku" name="sku"
                        placeholder="Sku Code...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="nama">Name</label>
                      <input type="text" class="form-control" id="nama" [(ngModel)]="model.nama" name="nama"
                        placeholder="Name product...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="kategori">Category</label>
                      <select class="form-select" id="m_kategori_id" aria-label="Select category"
                        [(ngModel)]="model.m_kategori_id" name="m_kategori_id">
                        <option *ngFor="let item of listCategory" [value]="item.id"> {{ item.kategori }} </option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="harga">Price</label>
                      <div class="input-group input-group-merge">
                        <span class="input-group-text" id="harga">Rp</span>
                        <input type="text" class="form-control" id="harga" placeholder="0" [(ngModel)]="model.harga"
                          name="harga" placeholder="Price...">
                      </div>
                    </div>
                    <!-- <div class="mb-3">
											<label class="form-label" for="tags">Tags</label>
											<select multiple="" class="form-select" id="tags" aria-label="Multiple select example" [(ngModel)]="model.tags" name="tags">
												<option value="Camera">Camera</option>
												<option value="Promo">Promo</option>
												<option value="DLSR">DLSR</option>
											</select>
										</div> -->
                    <div class="divider">
                      <div class="divider-text">Link E-commerce</div>
                    </div>
                    <div class="row">
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_tokped">Tokopedia</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_tokped">https://</span>
                          <input type="text" class="form-control" id="link_tokped" placeholder="0"
                            [(ngModel)]="model.link_tokped" name="link_tokped" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_shopee">Shopee</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_shopee">https://</span>
                          <input type="text" class="form-control" id="link_shopee" placeholder="0"
                            [(ngModel)]="model.link_shopee" name="link_shopee" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_bukalapak">Bukalapak</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_bukalapak">https://</span>
                          <input type="text" class="form-control" id="link_bukalapak" placeholder="0"
                            [(ngModel)]="model.link_bukalapak" name="link_bukalapak" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_lazada">Lazada</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_lazada">https://</span>
                          <input type="text" class="form-control" id="link_lazada" placeholder="0"
                            [(ngModel)]="model.link_lazada" name="link_lazada" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_blibli">Blibli</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_blibli">https://</span>
                          <input type="text" class="form-control" id="link_blibli" placeholder="0"
                            [(ngModel)]="model.link_blibli" name="link_blibli" placeholder="e-commerce.com/">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="form-label" for="detail_produk">Detail Product</label>
                      <textarea id="detail_produk" class="form-control" [(ngModel)]="model.detail_produk"
                        name="detail_produk" rows="4" placeholder="Detail product..."></textarea>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="description">Description</label>
                      <textarea id="description" class="form-control" [(ngModel)]="model.deskripsi" name="deskripsi"
                        rows="4" placeholder="Description..."></textarea>
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="in_box">In Box</label>
                      <textarea id="in_box" class="form-control" [(ngModel)]="model.in_box" name="in_box" rows="4"
                        placeholder="In box..."></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <div class="divider">
                      <div class="divider-text">Varian Produk</div>
                    </div>
                    <div class="row pb-2">
                      <div class="col-12 text-end">
                        <button class="btn btn-primary me-1" (click)="addVariant()" *ngIf="buttonAtasVarian">
                          <i class="bx bx-plus"></i>
                          Tambah Varian
                        </button>
                        <button class="btn btn-primary" (click)="removeVariant()" *ngIf="!buttonAtasVarian">
                          <i class="bx bx-trash"></i>
                          Hapus Varian
                        </button>
                      </div>
                      <div class="col-12 pb-4" *ngIf="aktifkanVaraian">
                        <div class="row">
                          <div class="col-3">
                            Tipe Varian 1 <span style="font-size: smaller;">(Upload foto varian di tipe ini)</span>
                          </div>
                          <div class="col-8"></div>

                          <div class="col-3">
                            <ng-select [items]="varian" [(ngModel)]="modelVarian.varian1" bindLabel="value"
                              bindValue="id" name="varian1" (change)="changeVarian1($event)" [addTag]="simpanVarian"
                              dropdownPosition="bottom">
                              <ng-template ng-label-tmp let-item="item">
                                {{item.value}}
                              </ng-template>
                              <ng-template ng-footer-tmp class="p-0">
                                <div class="select-buat-varian">Ketik untuk tambah varian 1</div>
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="col-9" *ngIf="showVarian1">
                            <!-- untuk warna -->
                            <ng-select [items]="varian1" bindLabel="nama" bindValue="nama" [multiple]="true"
                              placeholder="Tambahkan Tipe Varian Warna" [(ngModel)]="modelVarian.varianValue1"
                              name="varianwarna" *ngIf="valueVarian1 == 'warna'" (change)="isiVarian1($event)">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div class="d-flex justify-content-left">
                                  <div class="varian-warna-select" [style.background]="item.warna"></div>
                                  &nbsp;{{item.nama}}
                                </div>
                              </ng-template>
                            </ng-select>
                            <!-- untuk ukuran -->
                            <ng-select [items]="varian1" bindLabel="ukuran" bindValue="ukuran" [multiple]="true"
                              placeholder="Tambahkan Tipe Varian Ukuran" [(ngModel)]="modelVarian.varianValue1"
                              name="varianukuran" *ngIf="valueVarian1 == 'ukuran'" (change)="isiVarian1($event)">
                            </ng-select>
                            <!-- untuk custom varian -->
                            <ng-select [items]="varian1" bindLabel="nama" bindValue="nama" [multiple]="true"
                              [addTag]="addTipeVarian1" placeholder="Tambahkan Tipe Varian"
                              [(ngModel)]="modelVarian.varianValue1" name="varianukuran"
                              *ngIf="valueVarian1 != 'warna' && valueVarian1 != 'ukuran' && valueVarian1 != ''"
                              (change)="isiVarian1($event)">
                            </ng-select>
                          </div>

                          <!-- upload foto varian 1 -->
                          <div class="col-3 pt-1" *ngIf="showVarian1"></div>
                          <div class="col-9 pt-1" *ngIf="showVarian1">
                            <div class="mb-3 d-flex justify-content-left">
                              <div>
                                <button class="btn btn-sm py-2 px-3 me-1" [disabled]="disabledFotoVarian"
                                  [ngClass]="modelVarian.useFotoVarian == 0 ? 'btn-primary' : 'btn-outline-primary'"
                                  (click)="modelVarian.useFotoVarian = 0">
                                  <i class="bx bx-check me-1" *ngIf="modelVarian.useFotoVarian == 0"></i>
                                  No
                                </button>
                                <button class="btn btn-sm py-2 px-3" [disabled]="disabledFotoVarian"
                                  [ngClass]="modelVarian.useFotoVarian == 1 ? 'btn-primary' : 'btn-outline-primary'"
                                  (click)="modelVarian.useFotoVarian = 1">
                                  <i class="bx bx-check me-1" *ngIf="modelVarian.useFotoVarian == 1"></i>
                                  Yes
                                </button>
                              </div>
                              <label class="form-label" style="padding-left: 15px;">Gunakan foto varian</label>
                            </div>
                          </div>
                          <div class="col-3 pt-1" *ngIf="showVarian1"></div>
                          <div class="col-9 pt-1" *ngIf="showVarian1">
                            <div class="border-upload-varian">
                              <div *ngFor="let item of modelVarian.varianValue1; index as i;">
                                <label data-testid="labelImageUploaderContainerasdas" for="variantPicasdas"
                                  class="css-1iijiv2"><svg class="unf-icon css-1itv5e3" viewBox="0 0 24 24" width="24"
                                    height="24" fill="var(--color-icon-enabled, #2E3137)"
                                    style="display: inline-block; vertical-align: middle;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M22 7.5a5.5 5.5 0 0 0-9-4.25H5A1.76 1.76 0 0 0 3.25 5v14A1.76 1.76 0 0 0 5 20.75h14A1.76 1.76 0 0 0 20.75 19v-8A5.47 5.47 0 0 0 22 7.5Zm-1.5 0a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM19 19.25H5a.25.25 0 0 1-.25-.25V5A.25.25 0 0 1 5 4.75h6.74a5.5 5.5 0 0 0 7.51 7.51V19a.25.25 0 0 1-.25.25ZM9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm4.267 4.298a.749.749 0 0 1 .263.172l4.01 4a.75.75 0 0 1-1.06 1.06l-3.41-3.41-1.47 1.85a.76.76 0 0 1-1 .15l-1-.65-2.04 2.09A.75.75 0 0 1 6.5 16.5L9 14a.76.76 0 0 1 .92-.08l.92.61 1.57-2a.75.75 0 0 1 .857-.232ZM15.75 8.25H14.3a.75.75 0 0 1 0-1.5h1.45V5.3a.75.75 0 0 1 1.5 0v1.45h1.45a.75.75 0 1 1 0 1.5h-1.45V9.7a.75.75 0 1 1-1.5 0V8.25Z">
                                    </path>
                                  </svg>{{item}}</label>
                                <input class="inputan" type="file" id="variantPic_{{i}}" accept="image/x-png,image/png,image/jpg,image/jpeg">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="align-middle">Image</th>
                          <th class="align-middle" *ngIf="valueVarian1">{{ valueVarian1 }}</th>
                          <th class="align-middle">Harga</th>
                          <th class="align-middle">Stok</th>
                          <th class="align-middle">Sku</th>
                          <th class="align-middle">Berat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="listVariant.length > 0">
                          <tr *ngFor="let item of listVariant; index as i">
                            <td>
                              <img src="assets/img/elements/4.jpg" class="rounded" width="60" height="60" alt="">
                            </td>
                            <td *ngIf="valueVarian1">
                              <select class="form-select" id="tipe" aria-label="Select tye" [(ngModel)]="item.tipe"
                                name="tipe_{{i}}">
                                <option value="color"> Color </option>
                                <option value="size"> Size </option>
                              </select>
                            </td>
                            <td>
                              <div class="input-group input-group-merge">
                                <span class="input-group-text" id="harga">Rp</span>
                                <input type="text" class="form-control text-end" placeholder="0"
                                  aria-describedby="harga" [(ngModel)]="item.harga" name="harga_{{i}}">
                              </div>
                            </td>

                          </tr>
                        </ng-container>
                        <ng-container *ngIf="listVariant.length == 0">
                          <tr>
                            <td colspan="5" class="text-center">There are no variants yet</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Back
        </button>
        <button class="btn btn-primary" (click)="save()">
          <i class="bx bx-save me-1"></i>
          Save
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>
