<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Master</a>
        </li>
        <li class="breadcrumb-item active">Produk</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Produk</h4>
          <div>
            <button class="btn btn-primary me-2" (click)="sinkron()">
              <i class='bx bx-refresh' *ngIf="!isLoading"></i>
              <i class="spinner-border spinner-border-sm text-white" *ngIf="isLoading"></i>
              Sinkron
            </button>
            <button class="btn btn-primary" (click)="create()">
              <i class="bx bx-xs bx-plus" *ngIf="!isLoading"></i>
              <i class="spinner-border spinner-border-sm text-white" *ngIf="isLoading"></i>
              Tambah
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-2" *ngIf="false">
            <div class="row form-group my-2">
              <div class="col-12 row mb-2">
                <div class="col-2">
                  <input type="text" name="param_produk" [(ngModel)]="modelParam.nama" class="form-control form-control"
                    placeholder="Cari Nama Produk ... ">
                </div>
                <div class="col-2">
                  <ng-select [items]="listCategory" bindLabel="kategori" bindValue="id" placeholder="Kategori ..."
                    [(ngModel)]="modelParam.m_kategori_id" name="param_kategori">
                  </ng-select>
                </div>
                <div class="col-2">
                  <ng-select [items]="listBrand" bindLabel="brand" bindValue="id" placeholder="Brand ..."
                    [(ngModel)]="modelParam.m_brand_id" name="brand">
                  </ng-select>
                </div>
                <div class="col-2">
                  <select class="form-select" id="is_active" placeholder="Status" [(ngModel)]="modelParam.is_active"
                    name="is_active">
                    <option value="1">Aktif</option>
                    <option value="0">Tidak Aktif</option>
                  </select>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-rounded" (click)="reloadDataTable()">
                  <i class="bx bx-search"></i>Cari
                </button>
                <button class="btn btn-outline-primary btn-rounded ms-2" (click)="reset()">
                  <i class="bx bx-refresh"></i>Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table table-list" data-page-length="10">
                <thead>
                  <tr>
                    <th>Produk</th>
                    <th width="200" class="text-center">Harga</th>
                    <th width="150">Stok</th>
                    <th class="text-center" width="100">Status</th>
                    <th class="text-center" width="50"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td class="to-top">
                      <div class="d-flex justify-content-beetwen">
                        <img [src]="item.photo_product[0].foto" width="100" style="object-fit: contain;" alt="{{item.nama}}"> &nbsp;
                        <div class="d-column ms-1">
                          <p style="margin-bottom: 5px;">{{ item.nama ? item.nama : '' }}</p>
                          <p style="margin-bottom: 5px;">{{ item.sku }}</p>
                          <span class="badge bg-label-info me-1" *ngFor="let kategori of item.categories">{{ kategori.name }}</span>
                        </div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span>Rp {{ item.harga ?? 0 | number }}</span>
                    </td>
                    <td class="text-left">
                      <div>
                        <span *ngIf="!changeStokSingle">{{ item.stok ?? 0 }}</span> &nbsp;
                        <a href="javascript:void(0);" *ngIf="!changeStokSingle" (click)="changeStokSingle = true">
                          <i class="bx bx-edit-alt"></i>
                        </a>
                        <input type="text" class="input-stok-single" id="stok-singgle-{{item.id}}"
                          [(ngModel)]="item.stok" name="stok" *ngIf="changeStokSingle">
                        <a href="javascript:void(0);" (click)="simpanStokSingle(item)" *ngIf="changeStokSingle"
                          style="padding-left: 10px;">
                          <i class="bx bx-save"></i>
                        </a>
                      </div>
                    </td>
                    <td class="text-center">
                      <a class="badge bg-label-success" href="javascript:void(0)" *ngIf="item.stok_status == 'instock'">instock</a>
                      <a class="badge bg-label-warning" href="javascript:void(0)" *ngIf="item.stok_status == 'outofstock'">outofstock</a>
                      <a class="badge bg-label-danger" href="javascript:void(0)" *ngIf="item.stok_status == 'onbackorder'">onbackorder</a>
                    </td>
                    <td>
                      <div class="dropdown text-center">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="edit(item)">
                            <i class="bx bx-edit-alt me-1"></i>
                            Ubah
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);" (click)="ubahStatus(item, 0)"
                            *ngIf="item.is_active == 1">
                            <i class="bx bx-trash me-1"></i>
                            Hapus
                          </a>
                          <a class="dropdown-item" href="javascript:void(0);" (click)="ubahStatus(item, 1)"
                            *ngIf="item.is_active == 0">
                            <i class="bx bx-trash me-1"></i>
                            Aktifkan
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Form Produk</h4>
            </div>
          </div>
          <div class="col-12">
            <fieldset [disabled]="isView">
              <form>
                <div class="row">
                  <!-- Image -->
                  <div class="col-12">
                    <div class="mb-3">
                      <div id="imageSection">
                        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="css-1ofqig9 " *ngFor="let v of fotoProduk; index as i" cdkDrag
                            [cdkDragDisabled]="isView">
                            <div class="css-2imjyh" id="imgDropArea" tabindex="0">
                              <div id="img-0-empty">
                                <div class="css-i62psg" id="imgComponent-{{i}}">
                                  <div class="d-flex justify-content-end" *ngIf="v.isFoto">
                                    <div class="css-1spu5f8" *ngIf="i === 0">Foto Utama</div>
                                    <button class="badge badge-center rounded-pill bg-danger border-0"
                                      style="z-index: 1;" (click)="removePhoto(i)" [disabled]="isView">
                                      <i class="bx bx-trash"></i>
                                    </button>
                                  </div>
                                  <div class="css-kmq1n0" data-testid="imgAEPImgUploader">
                                    <label for="upload{{i}}" tabindex="{{i}}" style="text-align: -webkit-center;">
                                      <div class="css-phearn" *ngIf="!v.isFoto">
                                        <svg class="unf-icon css-1itv5e3" viewBox="0 0 40 40" width="40" height="40"
                                          fill="var(--color-icon-enabled, #2E3137)"
                                          style="display: inline-block; vertical-align: middle;">
                                          <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M22 7.5a5.5 5.5 0 0 0-9-4.25H5A1.76 1.76 0 0 0 3.25 5v14A1.76 1.76 0 0 0 5 20.75h14A1.76 1.76 0 0 0 20.75 19v-8A5.47 5.47 0 0 0 22 7.5Zm-1.5 0a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM19 19.25H5a.25.25 0 0 1-.25-.25V5A.25.25 0 0 1 5 4.75h6.74a5.5 5.5 0 0 0 7.51 7.51V19a.25.25 0 0 1-.25.25ZM9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm4.267 4.298a.749.749 0 0 1 .263.172l4.01 4a.75.75 0 0 1-1.06 1.06l-3.41-3.41-1.47 1.85a.76.76 0 0 1-1 .15l-1-.65-2.04 2.09A.75.75 0 0 1 6.5 16.5L9 14a.76.76 0 0 1 .92-.08l.92.61 1.57-2a.75.75 0 0 1 .857-.232ZM15.75 8.25H14.3a.75.75 0 0 1 0-1.5h1.45V5.3a.75.75 0 0 1 1.5 0v1.45h1.45a.75.75 0 1 1 0 1.5h-1.45V9.7a.75.75 0 1 1-1.5 0V8.25Z">
                                          </path>
                                        </svg>
                                      </div>
                                      <img [src]="v.foto.base64" alt="foto-produk-{{i}}"
                                        class="d-block rounded img-preview" id="uploadProduk{{i}}"
                                        *ngIf="v.foto.base64 && v.isFoto">
                                      <img [src]="v.foto" alt="foto-produk-kosong-{{i}}" class="d-block rounded"
                                        style="object-fit: contain; margin-top: -30px;" height="100" width="100"
                                        id="uploadProduk{{i}}" *ngIf="!v.foto.base64 && v.isFoto">
                                      <div class="css-w18sxf" *ngIf="i !== 0 && !v.isFoto">{{ v.name }} {{i + 1}}</div>
                                      <div class="css-w18sxf" *ngIf="i === 0 && !v.isFoto">Foto utama</div>
                                      <input type="file" id="upload{{i}}" class="account-file-input" hidden=""
                                        accept="image/png, image/jpeg" (change)="onFileSelected($event, i)">
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K, min. 300 x 300 px (For
                          Better Picture, use size min. 1.200 x 1.200 px).</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="divider">
                      <div class="divider-text">Detail Produk</div>
                    </div>
                  </div>
                  <!-- Detail Product -->
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="form-label" for="sku">SKU</label>
                      <input type="text" class="form-control" id="sku" [(ngModel)]="model.sku" name="sku"
                        placeholder="Generate Otomatis dari sistem ... ">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="nama">Nama</label>
                      <input type="text" class="form-control" id="nama" [(ngModel)]="model.nama" name="nama"
                        placeholder="Nama Produk">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="kategori">Kategori</label>
                      <ng-select [items]="listCategory" bindLabel="kategori" bindValue="id" placeholder="Kategori ..."
                        [(ngModel)]="model.m_kategori_id" name="kategori" [disabled]="isView">
                      </ng-select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="brand">Brand</label>
                      <ng-select [items]="listBrand" bindLabel="brand" bindValue="id" placeholder="Brand ..."
                        [(ngModel)]="model.m_brand_id" name="brand" [disabled]="isView">
                      </ng-select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="harga">Harga</label>
                      <div class="input-group input-group-merge">
                        <span class="input-group-text" id="harga">Rp</span>
                        <input type="text" class="form-control pl-2" id="harga" [(ngModel)]="model.harga" name="harga"
                          placeholder="Harga..." mask="separator.3" thousandSeparator=".">
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="berat">Berat & Minimal Pembelian</label>
                      <div class="row">
                        <div class="col-3">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control pr-2" id="berat" [(ngModel)]="model.berat"
                              name="berat" placeholder="Berat ..." mask="separator.3" thousandSeparator=".">
                            <span class="input-group-text" id="berat">g</span>
                          </div>
                        </div>
                        <div class="col-5">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control pr-2" id="min_beli" [(ngModel)]="model.min_beli"
                              name="min_beli" placeholder="Minimal Pembelian ..." mask="separator.3"
                              thousandSeparator=".">
                            <span class="input-group-text" id="min_beli">PCS</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="size">Ukuran Produk</label>
                      <div class="row">
                        <div class="col-4">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control pr-2" id="panjang" [(ngModel)]="model.panjang"
                              name="panjang" placeholder="Panjang ..." mask="separator.3" thousandSeparator=".">
                            <span class="input-group-text" id="panjang">cm</span>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control pr-2" id="tinggi" [(ngModel)]="model.tinggi"
                              name="tinggi" placeholder="Tinggi ..." mask="separator.3" thousandSeparator=".">
                            <span class="input-group-text" id="tinggi">cm</span>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control pr-2" id="lebar" [(ngModel)]="model.lebar"
                              name="lebar" placeholder="Lebar ..." mask="separator.3" thousandSeparator=".">
                            <span class="input-group-text" id="lebar">cm</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider">
                      <div class="divider-text">Link E-commerce</div>
                    </div>
                    <div class="row">
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_tokped">Tokopedia</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_tokped">https://</span>
                          <input type="text" class="form-control pl-2" id="link_tokped" [(ngModel)]="model.link_tokped"
                            name="link_tokped" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_shopee">Shopee</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_shopee">https://</span>
                          <input type="text" class="form-control pl-2" id="link_shopee" [(ngModel)]="model.link_shopee"
                            name="link_shopee" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_bukalapak">Bukalapak</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_bukalapak">https://</span>
                          <input type="text" class="form-control pl-2" id="link_bukalapak"
                            [(ngModel)]="model.link_bukalapak" name="link_bukalapak" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_lazada">Lazada</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_lazada">https://</span>
                          <input type="text" class="form-control pl-2" id="link_lazada" [(ngModel)]="model.link_lazada"
                            name="link_lazada" placeholder="e-commerce.com/">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_blibli">Blibli</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_blibli">https://</span>
                          <input type="text" class="form-control pl-2" id="link_blibli" [(ngModel)]="model.link_blibli"
                            name="link_blibli" placeholder="e-commerce.com/">
                        </div>
                      </div>
                    </div>

                    <div class="divider">
                      <div class="divider-text">Video</div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="alert">
                          Pilih salah satu inputan untuk video (internal/eksternal)
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="link_video">Link Video Eksternal</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="link_video">https://</span>
                          <input type="text" class="form-control pl-2" id="link_video" [(ngModel)]="model.link_video"
                            name="link_video" placeholder="youtube.com">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="video_upload">Video Internal</label>
                        <div class="input-group input-group-merge">
                          <video [src]="model.video" *ngIf="model.video" height="200" controls
                            controlsList="nodownload"></video>
                          <br />
                          <input type='file' (change)="onSelectFile($event)" [disabled]="isView"
                            style="padding: 0 !important;" accept="video/*" />
                          <p>
                            Ukuran Video : maks. 10 MB <br>
                            Format Video : MP4
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="form-label" for="detail_produk">Detail Produk</label>
                      <ckeditor [editor]="editor" [data]="detail_produk"
                        (change)="onChangeDetailEditor($event, 'detail_produk')" [disabled]="isView"></ckeditor>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="description">Deskripsi</label>
                      <ckeditor [editor]="editor" [data]="deskripsi"
                        (change)="onChangeDetailEditor($event, 'deskripsi')" [disabled]="isView"></ckeditor>
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="in_box">In Box</label>
                      <ckeditor [editor]="editor" [data]="in_box" (change)="onChangeDetailEditor($event, 'in_box')"
                        [disabled]="isView"></ckeditor>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="mb-3">
                    <div class="divider">
                      <div class="divider-text">Varian Produk</div>
                    </div>
                    <div class="row pb-2">
                      <div class="col-12 text-end">
                        <button class="btn btn-primary me-1" (click)="addVariant()"
                          *ngIf="buttonAtasVarian1 && !isView">
                          <i class="bx bx-plus"></i>
                          Tambah Varian
                        </button>
                        <button class="btn btn-primary" (click)="removeVariant()" *ngIf="!buttonAtasVarian1">
                          <i class="bx bx-trash"></i>
                          Hapus Varian
                        </button>
                      </div>
                      <div class="col-12 pb-4" *ngIf="aktifkanVaraian1">
                        <div class="row">
                          <div class="col-3">
                            Varian 1 <span style="font-size: smaller;">(Upload Foto di varian 1)</span>
                          </div>
                          <div class="col-8"></div>

                          <div class="col-3">
                            <ng-select [items]="varian" [(ngModel)]="modelVarian.varian1" bindLabel="value"
                              bindValue="id" name="varian1" (change)="changeVarian1($event)" [addTag]="simpanVarian"
                              placeholder="Variant 1" dropdownPosition="bottom">
                              <ng-template ng-label-tmp let-item="item">
                                {{item.value}}
                              </ng-template>
                              <ng-template ng-footer-tmp class="p-0">
                                <div class="select-buat-varian">Ketik untuk tambah varian 1</div>
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="col-9" *ngIf="showVarian1">
                            <!-- untuk warna -->
                            <ng-select [items]="varian1" bindLabel="nama" bindValue="nama" [multiple]="true"
                              placeholder="Tambahkan Tipe Varian Warna" [(ngModel)]="modelVarian.varianValue1"
                              name="varianwarna" *ngIf="valueVarian1 == 'warna'" (add)="isiVarian1($event, 'warna')"
                              (remove)="onRemoveVarian1($event)">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div class="d-flex justify-content-left">
                                  <div class="varian-warna-select" [style.background]="item.warna"></div>
                                  &nbsp;{{item.nama}}
                                </div>
                              </ng-template>
                            </ng-select>
                            <!-- untuk ukuran -->
                            <ng-select [items]="varian1" bindLabel="nama" bindValue="nama" [multiple]="true"
                              placeholder="Tambahkan Tipe Varian Ukuran" [(ngModel)]="modelVarian.varianValue1"
                              name="varianukuran" *ngIf="valueVarian1 == 'ukuran'" (add)="isiVarian1($event, 'ukuran')"
                              (remove)="onRemoveVarian1($event)">
                            </ng-select>
                            <!-- untuk custom varian -->
                            <ng-select [items]="varian1" bindLabel="nama" bindValue="nama" [multiple]="true"
                              [addTag]="addTipeVarian1" placeholder="Tambahkan Tipe Varian"
                              [(ngModel)]="modelVarian.varianValue1" name="varianCustom"
                              *ngIf="valueVarian1 != 'warna' && valueVarian1 != 'ukuran' && valueVarian1 != ''"
                              (add)="isiVarian1($event, modelVarian.varian1)" (remove)="onRemoveVarian1($event)">
                            </ng-select>
                          </div>

                          <!-- upload foto varian 1 -->
                          <div class="col-3 pt-1" *ngIf="showVarian1"></div>
                          <div class="col-9 pt-1" *ngIf="showVarian1">
                            <div class="mb-3 d-flex justify-content-left">
                              <div>
                                <button class="btn btn-sm py-2 px-3 me-1" [disabled]="disabledFotoVarian"
                                  [ngClass]="modelVarian.useFotoVarian == 0 ? 'btn-primary' : 'btn-outline-primary'"
                                  (click)="modelVarian.useFotoVarian = 0">
                                  <i class="bx bx-check me-1" *ngIf="modelVarian.useFotoVarian == 0"></i>
                                  Tidak
                                </button>
                                <button class="btn btn-sm py-2 px-3" [disabled]="disabledFotoVarian"
                                  [ngClass]="modelVarian.useFotoVarian == 1 ? 'btn-primary' : 'btn-outline-primary'"
                                  (click)="modelVarian.useFotoVarian = 1">
                                  <i class="bx bx-check me-1" *ngIf="modelVarian.useFotoVarian == 1"></i>
                                  Ya
                                </button>
                              </div>
                              <label class="form-label" style="padding-left: 15px;">Gunakan foto varian</label>
                            </div>
                          </div>
                          <div class="col-3 pt-1" *ngIf="showVarian1"></div>
                          <div class="col-9 pt-1" *ngIf="showVarian1">
                            <div class="border-upload-varian" *ngIf="modelVarian.useFotoVarian == 1">
                              <div class="css-1iijiv2" *ngFor="let item of duplicate; index as i;">
                                <div class="d-flex justify-content-end" *ngIf="item.image !== ''">
                                  <div class="label-preview-foto-variant">{{ item.varian1 }}</div>
                                  <button class="badge badge-center rounded-pill bg-danger border-0" style="z-index: 1;"
                                    (click)="removePhotoVarian(i)">
                                    <i class="bx bx-trash"></i>
                                  </button>
                                </div>
                                <label data-testid="labelImageUploaderContainer" for="variantPic_{{i}}">
                                  <svg *ngIf="item.image == ''" class="unf-icon css-1itv5e3" viewBox="0 0 24 24"
                                    width="24" height="24" fill="var(--color-icon-enabled, #2E3137)"
                                    style="display: inline-block; vertical-align: middle;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M22 7.5a5.5 5.5 0 0 0-9-4.25H5A1.76 1.76 0 0 0 3.25 5v14A1.76 1.76 0 0 0 5 20.75h14A1.76 1.76 0 0 0 20.75 19v-8A5.47 5.47 0 0 0 22 7.5Zm-1.5 0a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM19 19.25H5a.25.25 0 0 1-.25-.25V5A.25.25 0 0 1 5 4.75h6.74a5.5 5.5 0 0 0 7.51 7.51V19a.25.25 0 0 1-.25.25ZM9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm4.267 4.298a.749.749 0 0 1 .263.172l4.01 4a.75.75 0 0 1-1.06 1.06l-3.41-3.41-1.47 1.85a.76.76 0 0 1-1 .15l-1-.65-2.04 2.09A.75.75 0 0 1 6.5 16.5L9 14a.76.76 0 0 1 .92-.08l.92.61 1.57-2a.75.75 0 0 1 .857-.232ZM15.75 8.25H14.3a.75.75 0 0 1 0-1.5h1.45V5.3a.75.75 0 0 1 1.5 0v1.45h1.45a.75.75 0 1 1 0 1.5h-1.45V9.7a.75.75 0 1 1-1.5 0V8.25Z">
                                    </path>
                                  </svg>
                                  <span *ngIf="item.image == ''">
                                    {{item.varian1}}
                                  </span>
                                  <img [src]="item.image.base64" alt="foto-produk-variant-{{i}}"
                                    class="d-block rounded img-preview-variant" id="uploadVarian{{i}}"
                                    *ngIf="item.image.base64">
                                  <img [src]="item.image" alt="foto-produk-variant-kosong-{{i}}" class="d-block rounded"
                                    height="100" width="100" id="uploadVarian{{i}}"
                                    *ngIf="!item.image.base64 && item.image !== ''">
                                </label>
                                <input class="inputan" type="file" id="variantPic_{{i}}"
                                  accept="image/x-png,image/png,image/jpg,image/jpeg"
                                  (change)="onFileSelectedVarian($event, i)">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 pb-4" *ngIf="tampilkanVarian2">
                        <div class="row">
                          <div class="col-3">
                            <button class="btn btn-primary me-1" (click)="addVariant2()" *ngIf="buttonAtasVarian2">
                              <i class="bx bx-plus"></i>
                              Tambah Varian 2
                            </button>
                            <span *ngIf="aktifkanVaraian2">Tipe Varian 2</span>
                          </div>
                          <div class="col-8"></div>

                          <div class="col-3" *ngIf="aktifkanVaraian2">
                            <ng-select [items]="varian" [(ngModel)]="modelVarian.varian2" bindLabel="value"
                              placeholder="Variant 2" bindValue="id" name="varian2" (change)="changeVarian2($event)"
                              [addTag]="simpanVarian" dropdownPosition="bottom">
                              <ng-template ng-label-tmp let-item="item">
                                {{item.value}}
                              </ng-template>
                              <ng-template ng-footer-tmp class="p-0">
                                <div class="select-buat-varian">Ketik untuk tambah varian 2</div>
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="col-9" *ngIf="showVarian2">
                            <!-- untuk warna -->
                            <ng-select [items]="varian2" bindLabel="nama" bindValue="nama" [multiple]="true"
                              placeholder="Tambahkan Tipe Varian Warna" [(ngModel)]="modelVarian.varianValue2"
                              name="varianwarna2" *ngIf="valueVarian2 == 'warna'" (add)="isiVarian2($event, 'warna')"
                              (remove)="onRemoveVarian2($event)">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div class="d-flex justify-content-left">
                                  <div class="varian-warna-select" [style.background]="item.warna"></div>
                                  &nbsp;{{item.nama}}
                                </div>
                              </ng-template>
                            </ng-select>
                            <!-- untuk ukuran -->
                            <ng-select [items]="varian2" bindLabel="nama" bindValue="nama" [multiple]="true"
                              placeholder="Tambahkan Tipe Varian Ukuran" [(ngModel)]="modelVarian.varianValue2"
                              name="varianukuran2" *ngIf="valueVarian2 == 'ukuran'" (add)="isiVarian2($event, 'ukuran')"
                              (remove)="onRemoveVarian2($event)">
                            </ng-select>
                            <!-- untuk custom varian -->
                            <ng-select [items]="varian2" bindLabel="nama" bindValue="nama" [multiple]="true"
                              [addTag]="addTipeVarian2" placeholder="Tambahkan Tipe Varian 2"
                              [(ngModel)]="modelVarian.varianValue2" name="varianCustom2"
                              *ngIf="valueVarian2 != 'warna' && valueVarian2 != 'ukuran' && valueVarian2 != ''"
                              (add)="isiVarian2($event, modelVarian.varian1)" (remove)="onRemoveVarian2($event)">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="align-middle" width="10%" *ngIf="modelVarian.useFotoVarian == 1 || isView">Gambar
                          </th>
                          <th class="align-middle" width="10%" *ngIf="valueVarian1">{{ valueVarian1 }}</th>
                          <th class="align-middle" width="10%" *ngIf="valueVarian2">{{ valueVarian2 }}</th>
                          <th class="align-middle" width="15%">Harga</th>
                          <th class="align-middle" width="5%">Stok</th>
                          <th class="align-middle" width="15%">Sku</th>
                          <th class="align-middle" width="10%">Berat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="listVariant.length > 0">
                          <tr *ngFor="let item of listVariant; index as i">
                            <td *ngIf="modelVarian.useFotoVarian == 1 || isView">
                              <img [src]="item.image.base64" alt="foto-produk-variant-{{i}}"
                                class="d-block rounded img-preview-variant" id="uploadVarian{{i}}"
                                *ngIf="item.image.base64">
                              <img [src]="item.image" alt="foto-produk-variant-kosong-{{i}}" class="d-block rounded"
                                style="object-fit: contain;" height="100" width="100" id="uploadVarian{{i}}"
                                *ngIf="!item.image.base64 && item.image !== ''">
                            </td>
                            <td *ngIf="valueVarian1">
                              <span>{{ item.varian1 }}</span>
                            </td>
                            <td *ngIf="valueVarian2">
                              <span>{{ item.varian2 }}</span>
                            </td>
                            <td>
                              <div class="input-group input-group-merge">
                                <span class="input-group-text" id="harga">Rp</span>
                                <input type="text" class="form-control text-end" placeholder="0"
                                  aria-describedby="harga" [(ngModel)]="item.harga" name="harga_{{i}}"
                                  mask="separator.3" thousandSeparator=".">
                              </div>
                            </td>
                            <td>
                              <input type="text" class="form-control text-end" placeholder="0" aria-describedby="stok"
                                [(ngModel)]="item.stok" name="stok_{{i}}">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="JC00123" aria-describedby="sku"
                                [(ngModel)]="item.sku" name="sku_{{i}}">
                            </td>
                            <td>
                              <div class="input-group input-group-merge">
                                <input type="text" class="form-control text-end pr-2" placeholder="0"
                                  aria-describedby="berat" [(ngModel)]="item.berat" name="berat_{{i}}"
                                  mask="separator.3" thousandSeparator=".">
                                <span class="input-group-text" id="berat">g</span>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="listVariant.length == 0">
                          <tr>
                            <td colspan="5" class="text-center">Tidak ada varian</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Kembali
        </button>
        <button class="btn btn-primary" (click)="save()" *ngIf="!isView">
          <i class="bx bx-save me-1"></i>
          Simpan
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>
