<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
          <a href="javascript:void(0);">Edukasi</a>
        </li>
        <li class="breadcrumb-item active">Monitoring Edukasi</li>
      </ol>
    </nav>
    <div class="card" *ngIf="!showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-2">
            <div class="row form-group my-2">
              <div class="col-12 row mb-2">
                <div class="col-2">
                  <input type="text" name="param_invoice" [(ngModel)]="modelParam.invoice_number"
                    class="form-control form-control" placeholder="Cari Invoice ... ">
                </div>
                <div class="col-2">
                  <select class="form-select" id="status_order" placeholder="Status"
                    [(ngModel)]="modelParam.status_order" name="status_order">
                    <option value="">- Semua Status -</option>
                    <option value="ordered">Belum Bayar</option>
                    <option value="processed">Konfirmasi</option>
                    <option value="sent">Kirim</option>
                    <option value="received">Selesai</option>
                  </select>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-rounded" (click)="reloadDataTable()">
                  <i class="bx bx-search"></i>Cari
                </button>
                <button class="btn btn-outline-primary btn-rounded ms-2" (click)="reset()">
                  <i class="bx bx-refresh"></i>Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class=" text-nowrap">
              <table datatable [dtOptions]="dtOptions" class="table" data-page-length="5">
                <thead>
                  <tr>
                    <th class="text-center" width="80">Status</th>
                    <th class="text-center" width="120">Invoice</th>
                    <th class="text-center" width="100">Customer</th>
                    <th class="text-center">Edukasi</th>
                    <th class="text-end" width="120">Total</th>
                    <th class="text-center" width="80">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (dblclick)="view(item)">
                    <td class="text-center">
                      <span class="badge" [ngClass]="{
													'bg-label-warning': item.status_order == 'ordered',
													'bg-label-primary': item.status_order == 'processed',
													'bg-label-info': item.status_order == 'sent',
													'bg-label-success': item.status_order == 'received',
													'bg-label-danger': item.status_order == 'canceled'
												}">
                        {{ item.status_order_convert }}
                      </span>
                    </td>
                    <td> {{ item.invoice_number }} </td>
                    <td class="text-center">
                      <p>{{ item.name }}</p>
                      <span>{{ item.email }}</span>
                    </td>
                    <td class="text-center">
                      {{ item.judul }}<br>
                      <img data-bs-toggle="tooltip" data-bs-custom-class="font-poppins" data-bs-placement="bottom"
                        src="assets/img/icons/levels/easy.svg" class="icon-level" alt="ic_level" aria-label="Beginner"
                        data-bs-original-title="Beginner" *ngIf="item.tingkatan === 'beginner'">
                      <img data-bs-toggle="tooltip" data-bs-custom-class="font-poppins" data-bs-placement="bottom"
                        src="assets/img/icons/levels/medium.svg" class="icon-level" alt="ic_level"
                        aria-label="Intermediate" data-bs-original-title="Intermediate"
                        *ngIf="item.tingkatan === 'intermediate'">
                      <img data-bs-toggle="tooltip" data-bs-custom-class="font-poppins" data-bs-placement="bottom"
                        src="assets/img/icons/levels/pro.svg" class="icon-level" alt="ic_level"
                        aria-label="Professional" data-bs-original-title="Professional"
                        *ngIf="item.tingkatan === 'professional'">
                    </td>
                    <td class="text-end"> Rp {{ item.grand_total | number }} </td>
                    <td class="text-center">
                      <a class="dropdown-item" href="javascript:void(0);"
                        (click)="view(item)">
                        <i class='bx bx-eye me-1'></i>
                        Lihat
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showForm">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-end mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="ms-3 mb-0">Detail Order {{ model.invoice_number }}</h4>
            </div>
          </div>
          <div class="col-12">
            <form>
              <!-- [disabled]="isView || isLoading" -->
              <fieldset [disabled]="true">
                <div class="row">
                  <div class="col-6">
                    <div class="divider">
                      <div class="divider-text">Detail Customer</div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="invoice_number">Invoice Number</label>
                      <input type="text" class="form-control" id="invoice_number" [(ngModel)]="model.invoice_number"
                        name="invoice_number" placeholder="enter the invoice number...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="name">Nama</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name"
                        placeholder="enter the customer name...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="status_order">Status</label>
                      <input type="text" class="form-control" id="status_order" [(ngModel)]="model.status_order_convert"
                        name="status_order" placeholder="enter the status_order...">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="date">Tanggal</label>
                      <input type="text" class="form-control" id="date" [(ngModel)]="model.date" name="date"
                        placeholder="enter the date...">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="divider">
                      <div class="divider-text">Edukasi</div>
                    </div>
                    <div class="row">
                      <div class="col-12 mb-3">
                        <label class="form-label" for="judul">Edukasi</label>
                        <input type="text" class="form-control" id="judul" [(ngModel)]="model.judul"
                          name="judul" placeholder="enter the judul...">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="kategori">Kategori</label>
                        <input type="text" class="form-control" id="kategori" [(ngModel)]="model.kategori" name="kategori">
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="harga">Harga</label>
                        <div class="input-group">
                          <span class="input-group-text" id="harga">Rp</span>
                          <input type="text" class="form-control" id="harga" [(ngModel)]="model.harga" mask="separator.3" thousandSeparator="."
                            name="harga" placeholder="enter the phone number...">
                        </div>
                      </div>

                      <div class="col-6 mb-3">
                        <label class="form-label" for="promo">Promo</label>
                        <div class="input-group">
                          <span class="input-group-text" id="promo">Rp</span>
                          <input type="text" class="form-control" id="promo" [(ngModel)]="model.promo" mask="separator.3" thousandSeparator="."
                            name="promo" placeholder="Promo...">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="voucher">Voucher</label>
                        <div class="input-group">
                          <span class="input-group-text" id="voucher">Rp</span>
                          <input type="text" class="form-control" id="voucher" [(ngModel)]="model.voucher" mask="separator.3" thousandSeparator="."
                            name="voucher" placeholder="Voucher...">
                        </div>
                      </div>
                      <div class="col-6 mb-3">
                        <label class="form-label" for="grandtotal">Grand Total</label>
                        <div class="input-group">
                          <span class="input-group-text" id="grandtotal">Rp</span>
                          <input type="text" class="form-control" id="grandtotal" [(ngModel)]="model.grand_total" mask="separator.3" thousandSeparator="."
                            name="grand_total" placeholder="enter the phone number...">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-light me-1" (click)="index()">
          <i class="bx bx-chevron-left me-1"></i>
          Back
        </button>
        <button class="btn btn-danger me-1" (click)="invoice()">
          <i class='bx bxs-file-pdf me-1' ></i>
          Invoice
        </button>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
</div>
